doctype htlm 
html(ng-app="myfirst")
    head
        title   Sistema BCI
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/css/app.css" rel="stylesheet")
        script(src="/socket.io/socket.io.js")

    body(ng-controller="primero")

        nav(class="large-padding black white-text")
            ul
                li 
                    a(href="/app") Inicio
                li 
                    a(href="/app") BCI
                li 
                    a(href="/app/deslogear") Salir
        block contenido